@import "./colors";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,800&family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


// <uniquifier>: Use a unique and descriptive class name

.montserrat{
   
  }
body{
    width:100%;
    height:100%;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin:auto;
    padding:40px 0;
    background-color: $bodyBackgroundColor;
    font-family: $fontFamily;
}
.container{
    display:block;
    width:100%;
    max-width: 700px;
    background-color: $formColor;
    padding:2.5rem ;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 150px;
    margin-bottom: 2em;
}

.input-collection{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin:0 0 3rem 0;
}

.input-group{
    width:100px;
    height:40px;
    margin-right:2em;

}


label{
    @extend .input-group;
    width:100%;
    text-transform:uppercase;
    letter-spacing: .2em;
    font-size: 0.05rem;
    margin-bottom: 0.7rem;
    color:$textColor;
    font-weight: bold;

}

input[type="text"]{
    @extend .input-group;
    width: 100%;
    padding:0 0 0 2em;
    border:.5px solid gray;
    font-weight: bold;
    border-radius:5px;
    font-size:1rem;

}


input[type="text"]:hover{
    cursor:pointer;
}
.submit-group{
    display:flex;
    align-items: center;
    justify-content:center;
}
.line{
    @extend .submit-group;
    width:100%;
    height:1px;
    background-color:rgb(218, 213, 213);
    margin:0 0 0 1rem;
    z-index:0;
}
svg{
    width:70px;
    height:60px;
    background-color: $innerTextColor;
    border-radius: 50%; 
    padding:1rem;
    transition: all .5s ease-in;
}

svg:hover{
    cursor: pointer;
    background-color: #000;
    color:#fff;
    transition: all .5s ease-in;


}

.display-results{
    display:block;
    width:100%;
    height:50vh;
    font-size: 5rem;
    font-weight: bold;
    transition: all .5s ease-in;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: italic;

}
span{
    color:$innerTextColor;
}


@media screen and (max-width:768px){
    .container{
        width:100%;
        max-width: 500px;
        padding:1.5rem ;

    }


}

@media screen and (max-width:600px){
  
    .container{
        width:100%;
        max-width: 350px;
        padding:1.5rem ;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 100px;

    }

    .display-results{
        display:block;
        width:100%;
        height:40vh;
        font-size: 2.7rem;
        font-weight: bold;
        transition: all .5s ease-in;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-style: italic;
        margin: .5em 0 0 0;
    
    }

    
.input-collection{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin:0 0 3rem 0;
}

.input-group{
    width:100px;
    height:45px;
    margin-right:1em;

}


label{
    @extend .input-group;
    width:100%;
    text-transform:uppercase;
    letter-spacing: .2em;
    font-size: 0.01rem;
    margin-bottom: 0.5rem;
    color:$textColor;

}

.line{
    padding:0;
    margin:0 auto;
}

input[type="text"]{
    @extend .input-group;
    width: 100%;
    padding:0 0 0 2em;
    border:.5px solid gray;
    font-weight: bold;
    border-radius:5px;
    font-size: .5rem;
}

svg{
    width:70px;
    height:60px;
    background-color: $innerTextColor;
    border-radius: 50%; 
    padding:1rem;
    transition: all .5s ease-in;
    position:relative;
    top:0;
    right:170%;
    z-index: 1;
}
}